<div class="pull-right">
  <small ng-show="connected" class="label label-success">connected</small>
  <small ng-show="!connected" class="label label-danger">not connected</small>
</div>

<h1>Hello Firebase!</h1>

<button class="btn btn-info" ng-click="login()">Login with Google</button>
<div ng-show="authData">
  <img ng-src="{{authData.google.cachedUserProfile.picture}}" style="width:100px;"/>
  <pre>{{authData | json}}</pre>
</div>

<h2>Times</h2>
<ul>
  <li ng-repeat="time in times">
    <strong>{{time.start}} &mdash; {{time.end}}</strong>:
    <span>
    {{ temp(temperatures, time.temperatureId) }}&deg; (id:
    {{time.temperatureId}})
  </span>
  <button class="btn btn-danger" ng-click="removeTime(time)">remove</button>
  </li>
</ul>

<form class="form-inline" ng-submit="addTime(newTime)">
  <div class="form-group">
    <label for="startInput">Start</label>
    <input type="text" class="form-control" id="startInput" ng-model="newTime.start" style="width: 5em;">
  </div>
  <div class="form-group">
    <label for="endInput">End</label>
    <input type="text" class="form-control" id="endInput" ng-model="newTime.end" style="width: 5em;">
  </div>
  <div class="form-group">
    <label for="tempSelect">Temperature</label>
    <select class="form-control" id="tempSelect" ng-options="temp.id as temp.degree for temp in temperatures" ng-model="newTime.tempId">
      <option value="">-- choose temp --</option>
    </select>
  </div>
  <button type="submit" class="btn btn-default">Add time</button>
</form>


<h2>Temperatures</h2>
<form class="form-inline">
  <ul>
    <li ng-repeat="temp in temperatures">
      <div class="input-group">
        <input type="number" class="form-control" ng-model="temp.degree" style="width: 5em;" ng-change="saveTemp(temp)"/>
        <span class="input-group-addon" id="degree">&deg;</span>
      </div>

      <span>(id: {{temp.id}})</span>
    </li>
  </ul>
</form>


<h2>debug</h2>
<h3>temperatures</h3>
<pre>{{temperatures | json}}</pre>
<h3>times</h3>
<pre>{{times | json}}</pre>
